@model ESearch.Feature.PageSelector.Models.PageSelectorModel
<div>
    <ul>
        <li>
            <a href="@Model.GetPageUrl(Model.FirstPageIndex)" class="@(Model.HasPreviousPage ? "active" : "inactive")">@Html.Sitecore().Field("First Link Label")</a>
        </li>
        <li>
            <a href="@Model.GetPageUrl(Model.CurrentPageIndex - 1)" class="@(Model.HasPreviousPage ? "active" : "inactive")">@Html.Sitecore().Field("Previous Link Label")</a>
        </li>
        @foreach (var index in Model.PageIndexes)
        {
            <li>
                <a href="@Model.GetPageUrl(index)" class="@(index == Model.CurrentPageIndex ? "current" : string.Empty)">@index</a>
            </li>
        }
        <li>
            <a href="@Model.GetPageUrl(Model.CurrentPageIndex + 1)" class="@(Model.HasPreviousPage ? "active" : "inactive")">@Html.Sitecore().Field("Next Link Label")</a>
        </li>
        <li>
            <a href="@Model.GetPageUrl(Model.LastPageIndex)" class="@(Model.HasPreviousPage ? "active" : "inactive")">@Html.Sitecore().Field("Last Link Label")</a>
        </li>
    </ul>
</div>
