@model ESearch.Feature.FacetFilter.Models.FacetFilterModel
<div class="component @Html.Sitecore().CurrentRendering.Parameters["Css Class"]"">
    <div class="esearch esearch-facet-filter">
        <div class="card">
            <div class="card-header">@Html.Sitecore().Field("Filter Name")</div>
            <div class="list-group list-group-flush">
                @foreach (var row in Model.FilterRows)
                {
                    <a class="list-group-item list-group-item-action" href="@row.Link">@row.Label (@row.Count)</a>
                }
            </div>
        </div>
    </div>
</div>
