@using ESearch.Foundation.SitecoreExtensions.Extensions
@using ESearch.Feature.SearchBox
@model ESearch.Feature.SearchBox.Models.SearchBoxModel
<div class="component @Html.Sitecore().CurrentRendering.Parameters["Css Class"]">
    <div class="esearch esearch-search-box">
        <form id="search-box_form" class="form-inline" method="get" action="@Sitecore.Context.Item.Url()" search-settings-item-id="@Model.SearchSettingsItemId" ajax-url="esearch/searchbox">
            <input type="search" id="search-box_keyword" name="keyword" class="form-control @Html.Sitecore().CurrentRendering.Parameters["Keyword Box Css Class"]" placeholder="@Html.Sitecore().Field(Templates.SearchBox.Fields.PlaceholderLabel)">
            <button type="submit" id="search-box_button" class="btn @Html.Sitecore().CurrentRendering.Parameters["Button Css Class"]">@Html.Sitecore().Field(Templates.SearchBox.Fields.ExecuteButtonLabel)</button>
        </form>
        <div id="search-box_results">
        </div>
    </div>
</div>
