@model ESearch.Feature.SearchResultSummary.Models.SearchResultSummaryModel
@using Sitecore.Mvc

<div class="component @Html.Sitecore().CurrentRendering.Parameters["Css Class"]">
    <div class="esearch esearch-search-result-summary">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Conditions</h5>
                <ul>
                    <!-- Keyword Condition -->
                    <li class="badge badge-primary">Keyword: @Model.Keywords</li>
                    <!-- Equals Conditions -->
                    @foreach (var equal in Model.SearchQuery.EqualsConditions)
                    {
                        <li class="badge badge-success">@equal.TargetField : @equal.Value</li>
                    }
                    <!-- Between Conditions -->
                    @foreach (var between in Model.SearchQuery.BetweenConditions)
                    {
                        <li class="badge badge-info">@between.TargetField : @between.LowerValue - @between.UpperValue</li>
                    }
                    <!-- Contains Conditions -->
                    @foreach (var contain in Model.SearchQuery.ContainsConditions)
                    {
                        <li class="badge badge-warning">@contain.TargetField : @string.Join(",", contain.Values)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
