@using ESearch.Feature.SortIndicator
@using ESearch.Foundation.SitecoreExtensions.Extensions
@using SearchQuery = ESearch.Foundation.Indexing.Models
@model ESearch.Feature.SortIndicator.Models.SortIndicatorModel
<div class="component @Html.Sitecore().CurrentRendering.Parameters["Css Class"]">
    <div class="esearch esearch-sort-indicator">
        @if (Model.SortItems.Length > 0)
        {
            <select name="sortItem" onChange="location.href=value;">
                @foreach (var item in Model.SortItems)
                {
                    if (Model.TargetField == item[Templates.SortField.Fields.FieldName])
                    {
                        <option value=@Model.GetSortLink(item[Templates.SortField.Fields.FieldName], Model.Direction) selected="selected">@Html.Sitecore().Field(Templates.SortField.Fields.DisplayName, item)</option>
                    }
                    else
                    {
                        <option value=@Model.GetSortLink(item[Templates.SortField.Fields.FieldName], Model.Direction)>@Html.Sitecore().Field(Templates.SortField.Fields.DisplayName, item)</option>
                    }
                }
            </select>
            <select name="sortType" onChange="location.href=value;">
                @if (Model.Direction == SearchQuery.SortDirection.Asc)
                {
                    <option value=@Model.GetSortLink(Model.TargetField, SearchQuery.SortDirection.Asc) selected="selected">@SearchQuery.SortDirection.Asc</option>
                    <option value=@Model.GetSortLink(Model.TargetField, SearchQuery.SortDirection.Desc)>@SearchQuery.SortDirection.Desc</option>
                }
                else
                {
                    <option value=@Model.GetSortLink(Model.TargetField, SearchQuery.SortDirection.Asc)>@SearchQuery.SortDirection.Asc</option>
                    <option value=@Model.GetSortLink(Model.TargetField, SearchQuery.SortDirection.Desc) selected="selected">@SearchQuery.SortDirection.Desc</option>
                }
            </select>
        }
    </div>
</div>
